:root {
    --accent: #adb4e4;
    --on-accent: #5e6184;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--on-accent);
    color: var(--accent);
    font-size: 0.925em;
    line-height: 1.625;
    text-shadow: 0 0 1px color-mix(in oklab, var(--accent), black 60%);
}

#app {
    min-width: 25rem;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
    color: var(--accent);
}

ul {
    list-style: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

::selection {
    background-color: var(--accent);
    color: var(--on-accent);
}