:root {
    --accent: #bcbfdb;
    // --bg: #5e6184;
    // --on-accent: color-mix(in oklab, var(--accent) 20%, #31344d);
    --on-accent: #5e6184;
}

* {
    margin: 0;
    padding: 0;
}

body {
    // background-color: var(--accent-darker);
    // color: var(--accent);
    // background-image: url("@/assets/img/ds-header-lg.webp") no-repeat center fixed;
    // background-size: cover;
}

#app {
    min-width: 25rem;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    color: var(--accent);
}

a {
    text-decoration: none;
}

::selection {
    background-color: var(--accent);
    color: var(--on-accent);
}