.card {
    position: relative;
    border-radius: 1rem;
    // font-size: 1.4rem;
    display: flex;
    // flex-direction: column;
    // flex: 1;

    p {
        margin: 0;
    }

    /* this fix some crazy long width in v4.0.4 */
    input {
        // max-width: max-content;
        transform-origin: center center;
        border: none;
        outline: none;
        font-weight: bold;

        &:focus {
            outline: none;
            border: none;
        }
    }

    input,
    select,
    label {
        line-height: 1;
    }

    label,
    label>* {
        cursor: pointer !important;
    }

    &::after,
    &::before {
        --card-tooltip-gap: 0.5rem;
        position: absolute;
        top: var(--card-tooltip-top);
        left: 50%;
        transform: translateX(-50%);
        z-index: 70;
        opacity: 0;
        pointer-events: none;
        translate: 0 -0.5rem;
        transition: 0.3s ease-in-out, translate 0.3s $easeOutBack;
    }

    &::after {
        --card-tooltip-top: calc(100% + var(--card-tooltip-gap));
        content: attr(data-gpth-err);
        width: max-content;
        height: clamp(1.5rem, 50%, max-content);
        font-size: .45em;
        font-weight: bold;
        padding: 0.2rem 0.45rem;
        color: var(--c-on-accent);
        border-radius: 50vw;
        background-color: var(--c-accent);
    }

    &::before {
        --border-w: 0.5rem;
        // --card-tooltip-top: calc(100% - var(--card-tooltip-gap) - var(--border-w));
        --card-tooltip-top: calc(100% - var(--card-tooltip-gap) + 0.1rem);
        content: "";
        border-width: var(--border-w);
        border-style: solid;
        border-color: transparent transparent var(--c-accent) transparent;
    }

    &:has(select) {

        &::after,
        &::before {
            display: none;
        }
    }

    &:has(input:focus) {

        &::after,
        &::before {
            opacity: 1 !important;
            translate: 0 0 !important;
        }
    }

    input[type="number"] {
        /* Hide arrows in Firefox and Chromium */
        -webkit-appearance: none;
        /* For Chrome and Safari */
        -moz-appearance: textfield;
        /* For Firefox */
        appearance: textfield;

        /* Hide arrows in Webkit browsers (Chrome, Safari) */
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}