html,
body {
	--text-primary: var(--c-txt) !important;
	letter-spacing: calc((var(--letterSpacing) / 16) * 1px) !important;
	color: var(--c-txt) !important;
	background-color: var(--c-bg-chats-container) !important;
}

// :host,
// html {
// 	font-family: var(--fontFamily), var(--fontFamilyDefault) !important;
// }

::selection {
	background-color: hsla(var(--accent-hsl) / 0.5) !important;
	color: var(--c-txt) !important;
}

a[href] {
	color: var(--c-accent) !important;
	// @extend %link_hover_underlined;
}