.ds-markdown {
    // min-height: var(--ds-md-font-size);
    --ds-md-zoom: 1 !important;
    --ds-font-size-m: calc((var(--fontSize) / 16) * 1rem) !important;
    --ds-line-height-m: calc(var(--lineHeight) / 16) !important;
    // font-size: calc((var(--fontSize) / 16) * 1rem) !important;
    // line-height: calc(var(--lineHeight) / 16) !important;

    code {
        background-color: hsla(var(--accent-hsl) / 0.15) !important;
        color: var(--c-accent) !important;
        border-radius: 5px !important;
    }

    hr {
        background-color: hsla(var(--accent-hsl) / 0.18) !important;
    }


    /* Markdown code block */
    .md-code-block {
        border-radius: var(--br-btn) !important;
        padding: 0.5rem !important;
        // border: 1px solid hsla(var(--accent-hsl) / 0.12) !important;

        /* _____ MD HEADER _____ */
        &

        /* Markdown code block header child */
            {
            // color: var(--c-txt) !important;
            background: var(--c-bg-pre) !important;
        }

        /* Markdown code block header wrapper  */
        &-banner-wrap,
        &-banner {
            background-color: transparent !important;
        }

        /* Markdown code block header: code language */
        &-infostring {
            color: var(--c-subtext-1) !important;
            font-family: var(--ds-font-family-code) !important;
            font-weight: bold;
        }

        /* Footer of code block, for example: "▶️ Run HTML" part */
        &-footer {
            @include bg-accent-inverse;
            border-radius: var(--br-btn);
        }
    }

    /* Markdown code block header: Copy btn */
    &-code-copy-button {
        @include bg-accent;
        padding: calc(var(--p-btn) * 0.5) !important;
        border-radius: calc(var(--br-btn) * 0.5) !important;
        transition: backcolor 0.25s $easeOutCubic, color 0.25s $easeOutCubic;

        &:hover {
            @include bg-accent-inverse;
        }
    }

    /* Elements when run the code */
    iframe {
        body {
            // background-color: red !important;
            background-color: transparent !important;
        }
    }
}

body.light .ds-markdown-code-copy-button {
    &:hover {
        --c-accent: var(--c-on-accent) !important;
    }
}