.cefa5c26:has(#chat-input) {
    border: 1px solid hsla(var(--accent-hsl) / 0.12) !important;

    #chat-input {
        &::placeholder {
            color: var(--c-subtext-2) !important;
        }
    }

    /* Remove box-shadow (like a border) around prompt field */
    .dd442025 {
        box-shadow: none !important;
    }

    /* "DeepThink R1" and "Search" btn */
    [role="button"].d9f56c96 {
        @include bg-accent-inverse;
        border-color: hsla(var(--accent-hsl) / 0.15) !important;

        .ds-icon {
            color: currentColor !important;

            svg {
                path {
                    stroke: currentColor !important;
                }
            }
        }


        /* "DeepThink R1" and "Search" btn when selected */
        &[style*="--ds-button-color: transparent;"] {
            @include bg-accent;
            border-color: var(--c-accent) !important;

            .ds-icon {
                // color: currentColor !important;

                svg path {
                    stroke: var(--c-on-accent) !important;
                }
            }
        }
    }

    /* Send btn */
    [role="button"].f6d670 {
        @include bg-accent;

        .ds-icon svg path:not([fill="none"]) {
            fill: currentColor !important;
        }

        &:hover {
            @include bg-accent-inverse;

        }
    }

    /* attach btn next to send button (input="file") */
    .f02f0e25 {
        &:hover {
            background-color: hsla(var(--accent-hsl) / 0.15) !important;
            // color: var(--c-on-accent) !important;
        }
    }

    /* Icon of image when attached image */
    // .ds-icon.b3a5d6c1:has(svg>path[fill="#9AD2EC"]) {
    //     // svg path {
    //     //     stroke: initial !important;
    //     // }

    //     path[fill="white"] {
    //         fill: var(--c-accent) !important;
    //     }

    //     path[fill="#9AD2EC"] {
    //         fill: hsla(var(--accent-hsl) / 0.15) !important;
    //     }

    //     path[fill="#4579C7"] {
    //         fill: hsla(var(--accent-hsl) / 0.9) !important;
    //     }
    // }
    // .ds-icon.b3a5d6c1 {
    //     svg path {
    //         fill: initial !important;
    //     }
    // }

    /* Attached items */
    // .cd190a50 {
    //     --dsr-input-bg: hsla(var(--accent-hsl) / 0.15) !important;
    //     transition: ease-in-out 0.25s, background-color 0.25s ease-in-out 0s;
    //     border: hsla(var(--accent-hsl) / 0.1) 2px solid !important;

    //     &:hover {
    //         --dsr-input-bg: hsla(var(--accent-hsl) / 0.2) !important;
    //         box-shadow: none !important;
    //         transform: translateY(-0.08rem);
    //     }

    //     /* Attached closed btn when hovered */
    //     [role="img"] {
    //         .b2b9d30d {
    //             box-shadow: none !important;
    //             @include bg-accent;

    //             .ds-icon {
    //                 svg path {
    //                     fill: currentColor !important;
    //                 }
    //             }
    //         }
    //     }

    //     /* Attached info data: file type and size (e.g. PNG 162.3KB) */
    //     .ee357eab {
    //         color: var(--c-subtext-2) !important;
    //     }
    // }

}

/* Attached item and in prompt field and in chats layout */
.cd190a50 {
    --dsr-input-bg: hsla(var(--accent-hsl) / 0.15) !important;
    transition: transform ease-in-out 0.25s, background-color 0.25s ease-in-out;
    border: hsla(var(--accent-hsl) / 0.1) 2px solid !important;

    &:hover {
        --dsr-input-bg: hsla(var(--accent-hsl) / 0.2) !important;
        box-shadow: none !important;
        transform: translateY(-0.08rem);
    }

    /* Attached closed btn when hovered */
    [role="img"] {
        .b2b9d30d {
            box-shadow: none !important;
            @include bg-accent;

            .ds-icon {
                svg path {
                    fill: currentColor !important;
                }
            }
        }
    }

    /* Attached info data: file type and size (e.g. PNG 162.3KB) */
    .ee357eab {
        color: var(--c-subtext-2) !important;
    }
}