/* Button "New chat" in sidebar */
[data-ds-dark-theme] .a8ac7a80 {
    --local-button: var(--dsr-main);
    --local-button-hover: var(--c-accent-hover) !important;
    --local-button-text: var(--c-on-accent) !important;
}

/* Sidebar */
.dc04ec1d {

    /* "deepseek" text logo in sidebar */
    .e066abb8 svg {
        color: var(--c-accent) !important;
        opacity: 0.9;
        text-shadow: 0 0 5px var(--c-accent) !important;
    }

    /* Sidebar date pill: "yesterday, today, 7 days" etc */
    .cdfc1683 {
        @extend %date-pill;
    }


    /* Sidebar chat-item link */
    .f9edaa3c {
        transition: ease-in-out 0.25s;

        /* Active link item */
        &.b64fb9ae {
            --dsr-local-active-bg: var(--c-surface-2) !important;
            box-shadow: 0 0 1px 2px hsla(var(--accent-hsl) / 0.1) inset !important;
        }

        &:not(&.b64fb9ae):hover {
            background-color: var(--c-surface-2) !important;
            // box-shadow: 0 0 1px 2px hsla(var(--accent-hsl) / 0.1) inset !important;
            transform: translateY(-0.08rem);
        }
    }
}