.gpth-settings {
	--w-scrollbar: 0.2rem;

	--top: calc(var(--h-header) + 0.5rem + 3rem);
	--right: 1.3rem;
	--p: 2.2rem 2.8rem;
	--max-h: 75vh;
	--shadow-color: hsla(var(--accent-hsl) / 0.09);
	--shadow-values: inset 0 0 20px 10px;
	position: fixed;
	display: flex;
	flex-direction: column;
	top: var(--top);
	right: var(--right);
	width: clamp(20rem, 25vw, 22rem);
	max-height: var(--max-h);
	padding: var(--p);
	opacity: 0;
	background-color: var(--c-bg-sidebar);
	border-radius: var(--br-dialog);
	border: 1px solid hsla(var(--accent-hsl) / 0.18);
	box-shadow: var(--shadow-values) var(--shadow-color);
	pointer-events: none;
	transform: translateX(calc(100% + 1.5rem)) !important;
	z-index: 10;
	overflow: clip auto;
	font-size: 1.6rem;
	transition: transform 0.3s $easeOutBack, opacity 0.3s ease;

	&--open {
		opacity: 1 !important;
		pointer-events: all !important;
		transform: translateX(0%) !important;
	}

	@include dev('xs') {
		--p: 5.5vw;
		--max-h: 70vh;
		width: calc(100% - 2.5rem);
	}

	@include dev('xxs') {
		--p: 4vw;
	}

	@include header_ui;
	@include footer_ui;
	@include tabs_ui;
}