/* main right side element */
._7780f2e {

    /* Sticky header */
    ._2be88ba {
        background-color: var(--c-bg-chats-container) !important;

        /* Icons when breakpoint is to 'md' so sidebar and new chat icon are moved to sticky header and doesnt have color */
        .ds-icon {
            color: var(--c-accent) !important;
        }

        [style*="margin-top: 10px;"] {
            margin-top: 0 !important;
        }

        /* Sticky header: chat title */
        .afa34042 {
            @include bg-accent-inverse;
            outline: hsla(var(--accent-hsl) / 0.2) solid 1px !important;

            &:hover {
                box-shadow: inset 0 0 10px 2px hsla(var(--accent-hsl) / 0.2) !important;
            }
        }

        /* Sticky header: chat title when in edit state */
        .ds-input:has(input.ds-input__input) {
            --ds-input-focus-color: var(--c-surface-1) !important;
            --ds-input-text-color: var(--c-accent) !important;
            --ds-input-focus-border-color: hsla(var(--accent-hsl) / 0.2) !important;
        }

        /* strange sticky header gradientoverlay */
        // .b480065b {
        ._62b4800 {
            // background: linear-gradient(rgba(255,255,255,.8) 0%,rgba(255,255,255,0) 100%);
            // background: linear-gradient(var(--dsr-bg) 0%, transparent 100%);
            background: linear-gradient(to bottom, hsla(var(--accent-h) var(--surface-s) calc(var(--surface-l) * 1.025) / 0.8) 0%, hsla(var(--accent-h) var(--surface-s) calc(var(--surface-l) * 1.025) / 0) 100%) !important;
            // height: 1.2rem !important;
        }
    }
}