// .cefa5c26:has(#chat-input) {
._77cefa5:has(#chat-input) {
    border: 1px solid hsla(var(--accent-hsl) / 0.12) !important;

    /* Textarea */
    #chat-input {
        color: var(--c-txt) !important;

        &::placeholder {
            color: var(--c-subtext-2) !important;
        }
    }

    /* Attach icon */
    .f02f0e25 {
        color: var(--c-accent) !important;

        /* Attach icon disabled */
        &.cfba8f40 {
            color: var(--c-subtext-1) !important;
        }
    }

    /* Remove box-shadow (like a border) around prompt field */
    .dd442025 {
        box-shadow: none !important;
    }

    /* Textarea footer where buttons are */
    .ec4f5d61 {}

    /* "DeepThink R1" and "Search" btn */
    [role="button"]._3172d9f {
        --ds-button-color: transparent !important;
        --button-text-color: var(--c-accent) !important;
        --button-border-color: hsla(var(--accent-hsl) / 0.2) !important;
        --ds-button-hover-color: var(--c-accent-hover) !important;
        transition: transform ease-in-out 0.2s, background-color 0.2s ease-in-out;

        .ds-icon {
            color: currentColor !important;

            svg path {
                stroke: currentColor !important;
            }
        }

        &:hover {
            --ds-button-color: var(--c-accent-hover) !important;
            color: var(--c-accent) !important;
            transform: translateY(-0.08rem);
        }


        /* "DeepThink (R1)" and "Search" btn when selected */
        // &[style*="--ds-button-color: transparent;"] {
        &[style*="--ds-button-color: #DBEAFE"],
        &[style*="--ds-button-color: rgba(77, 107, 254, 0.40)"] {
            --ds-button-color: hsla(var(--accent-hsl) / 0.2) !important;
            // background-color: hsla(var(--accent-hsl) / 0.2) !important;
        }
    }

    /* attach btn next to send button (input="file") */
    .f02f0e25 {
        &:hover {
            background-color: hsla(var(--accent-hsl) / 0.15) !important;
            // color: var(--c-on-accent) !important;
        }
    }

    /* Icon of image when attached image */
    // .ds-icon.b3a5d6c1:has(svg>path[fill="#9AD2EC"]) {
    //     // svg path {
    //     //     stroke: initial !important;
    //     // }

    //     path[fill="white"] {
    //         fill: var(--c-accent) !important;
    //     }

    //     path[fill="#9AD2EC"] {
    //         fill: hsla(var(--accent-hsl) / 0.15) !important;
    //     }

    //     path[fill="#4579C7"] {
    //         fill: hsla(var(--accent-hsl) / 0.9) !important;
    //     }
    // }
    // .ds-icon.b3a5d6c1 {
    //     svg path {
    //         fill: initial !important;
    //     }
    // }

    /* Attached items */
    // .cd190a50 {
    //     --dsr-input-bg: hsla(var(--accent-hsl) / 0.15) !important;
    //     transition: ease-in-out 0.25s, background-color 0.25s ease-in-out 0s;
    //     border: hsla(var(--accent-hsl) / 0.1) 2px solid !important;

    //     &:hover {
    //         --dsr-input-bg: hsla(var(--accent-hsl) / 0.2) !important;
    //         box-shadow: none !important;
    //         transform: translateY(-0.08rem);
    //     }

    //     /* Attached closed btn when hovered */
    //     [role="img"] {
    //         .b2b9d30d {
    //             box-shadow: none !important;
    //             @include bg-accent;

    //             .ds-icon {
    //                 svg path {
    //                     fill: currentColor !important;
    //                 }
    //             }
    //         }
    //     }

    //     /* Attached info data: file type and size (e.g. PNG 162.3KB) */
    //     .ee357eab {
    //         color: var(--c-subtext-2) !important;
    //     }
    // }

}

/* Attached item and in prompt field and in chats layout */
._76cd190 {
    --dsr-input-bg: hsla(var(--accent-hsl) / 0.15) !important;
    transition: transform ease-in-out 0.25s, background-color 0.25s ease-in-out;
    border: hsla(var(--accent-hsl) / 0.1) 2px solid !important;

    &:hover {
        --dsr-input-bg: hsla(var(--accent-hsl) / 0.2) !important;
        box-shadow: none !important;
        transform: translateY(-0.08rem);
    }

    /* Attached closed btn when hovered */
    [role="img"] {
        ._35730b2 {
            box-shadow: none !important;
            @include bg-accent;

            .ds-icon {
                svg path {
                    fill: currentColor !important;
                }
            }
        }
    }

    /* Attached info data: file type and size (e.g. PNG 162.3KB) */
    ._5119742 {
        color: var(--c-subtext-2) !important;
    }
}

/* Send btn */
._7436101 {
    @include bg-accent;

    .ds-icon svg path:not([fill="none"]) {
        fill: currentColor !important;
    }

    &:hover {
        @include bg-accent-inverse;
    }

    /* Send btn - disabled state */
    // &.bcc55ca1 {
    //     cursor: not-allowed;
    //     background-color: rgb(var(--ds-rgb-slate-250));
    //     color: #fafafa;
    // }
}