// .cefa5c26:has(#chat-input) {
._77cefa5:has(#chat-input) {

    background: var(--c-bg-textarea) !important;
    // box-shadow: inset 0 0 1px 1px hsla(var(--accent-hsl) / 0.08) !important;
    backdrop-filter: blur(18px);
    // border: none !important;
    border-radius: calc(var(--br) * 1.9) !important;

    /* Textarea */
    #chat-input {
        color: var(--c-txt) !important;
        // padding: 1.2rem;

        &::placeholder {
            color: var(--c-subtext-2) !important;
        }
    }

    /* Attach icon */
    .f02f0e25 {
        color: var(--c-accent) !important;

        /* Attach icon disabled */
        &.cfba8f40 {
            color: var(--c-subtext-1) !important;
        }
    }

    /* Remove box-shadow (like a border) around prompt field */
    .dd442025 {
        box-shadow: none !important;
    }

    /* "DeepThink R1" and "Search" btn */
    ._70150b8 {
        color: var(--c-accent) !important;

        .ds-icon {
            color: currentColor !important;
        }

        // Active/selected button state
        &._76f196b {
            border-color: var(--dsw-alias-button-ghost-active-border);
            background: var(--dsw-alias-button-ghost-active-fill);
            color: var(--dsw-alias-brand-text);
        }
    }

    /* attach btn next to send button (input="file") */
    .f02f0e25 {
        &:hover {
            background-color: hsla(var(--accent-hsl) / 0.15) !important;
            // color: var(--c-on-accent) !important;
        }
    }
}

/* Attached item and in prompt field and in chats layout */
._76cd190 {
    --dsr-input-bg: hsla(var(--accent-hsl) / 0.15) !important;
    transition: transform $trans, background-color $trans !important;
    border: hsla(var(--accent-hsl) / 0.1) 2px solid !important;

    &:hover {
        --dsr-input-bg: hsla(var(--accent-hsl) / 0.2) !important;
        box-shadow: none !important;
        transform: translateY(-0.08rem);
    }

    /* Attached closed btn when hovered */
    [role="img"] {
        ._35730b2 {
            box-shadow: none !important;
            @include bg-accent;

            .ds-icon {
                svg path {
                    fill: currentColor !important;
                }
            }
        }
    }

    /* Attached info data: file type and size (e.g. PNG 162.3KB) */
    ._5119742 {
        color: var(--c-subtext-2) !important;
    }
}

/* Send btn */
._7436101 {
    @include bg-accent;

    .ds-icon svg path:not([fill="none"]) {
        fill: currentColor !important;
    }

    &:hover {
        @include bg-accent-inverse;
    }

    /* Send btn - disabled state */
    // &.bcc55ca1 {
    //     cursor: not-allowed;
    //     background-color: rgb(var(--ds-rgb-slate-250));
    //     color: #fafafa;
    // }
}

/* Very top parent of chatbox with child that have black gradient and strange width */
._871cbca {
    margin: auto 0 !important; // original: margin: auto 32px 0 !important;
}

// .d72636e2 {
//     z-index: -1;
//     /* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--dsw-alias-bg-base) 24%, var(--dsw-alias-bg-base) 100%); */
//     align-self: flex-end;
//     /* width: calc(100% + 16px); */
//     height: 126px;
//     position: absolute;
//     bottom: 0;
// }