/* === ATtACHED FILE DIALOG PREVIEW ===  
._3f79b51 - Dialog wrappen shown when clicked on already prompted attach file (in user chat bubble or in textarea) 
._4fb4c59 - Header in this attached file dialog - where file name is
.a7d2f3cd - Footer of this file attached dialog: "Content too long to display."
._013381f - pdf header in dialog attach file preview
 */
._3f79b51,
._4fb4c59,
.a7d2f3cd,
._013381f {
    background: var(--c-surface-3) !important;
    color: var(--c-txt) !important;
}

/* ._013381f - pdf header in dialog attach file preview */
._013381f {

    /* pdf page counter and zoom-in-out value of % */
    input {
        background-color: hsla(var(--accent-hsl) / 0.2) !important;
    }
}

/* ._3f79b51 - Dialog wrappen shown when clicked on already prompted attach file (in user chat bubble or in textarea)  */
._3f79b51 {
    box-shadow: var(--bx-dialog) !important;
}

.e9fbd9e6 {
    color: var(--c-txt) !important;
}