/* Right chat wrapper main div */
._3919b83 {

    /* "⚠️ Length limit reached. DeepSeek can only read the first 7%" */
    ._69505e8 {
        @include bg-warning-inverse;
        border-color: hsla(var(--warning-hsl) / 0.12) !important;
    }

    /* Scrolldown btn */
    ._0e98de6:has(>svg) {
        @include bg-accent;
        box-shadow: inset 0 0 0 1px hsla(var(--warning-hsl) / 0.2) !important;

        &:hover {
            @include bg-accent-inverse;
        }
    }
}

/* User chat bubble */
.fbb737a4 {
    background-color: var(--c-bg-msg-user) !important;
    color: var(--c-txt) !important;
    padding: var(--p-chat-bubble) !important;
    border-radius: var(--br-chat-bubble) !important;
    width: max-content !important;
    // line-height: calc(var(--line_height) / 16) !important;
    // max-width: var(--maxWidthChats) !important;
}


/* User chat very parent */
._9663006 {
    /*  Gap on top from GPT user bubble: sum of:
        16px - this ._9663006 mb
        28px - user footer icons height, 
        6px - user footer icons mt  */
    margin-top: calc(16px + 28px + 6px) !important; // 

    /* User chat bubble in edit state */
    &._3111eee {

        /* <textarea> parent */
        .ds-textarea {
            --shadow-offset: 1px;
            --ds-textarea-color: hsla(var(--accent-hsl) / 0.05) !important;
            --ds-textarea-border: hsla(var(--accent-hsl) / 0.12) !important;
            --ds-textarea-focus-color: hsla(var(--accent-hsl) / 0.08) !important;
            --ds-textarea-focus-border-color: hsla(var(--accent-hsl) / 0.14) !important;
            --ds-textarea-line-height: calc((var(--lineHeight) / 16) * 0.88) !important;
            --ds-textarea-padding: calc(var(--p-chat-bubble) * 0.85) !important;
            --ds-textarea-border-radius: calc(var(--br-chat-bubble) * 0.75) !important;
            caret-color: var(--c-accent);
            color: var(--c-accent) !important;
            background-color: hsla(var(--accent-hsl) / 0.05) !important;
            box-shadow: 0 0 0 var(--shadow-offset) hsla(var(--accent-hsl) / 0.15) !important;

            &--focused {
                --shadow-offset: 2px;
            }
        }
    }
}


/* GPT chat bubble */
._4f9bf79 {
    background-color: var(--c-bg-msg-gpt);
    color: var(--c-txt) !important;
    padding: var(--p-chat-bubble) !important;
    border-radius: var(--br-chat-bubble) !important;

    @include dev('md') {
        --br-chat-bubble: calc(var(--br) * 1.2);
        padding: var(--p-chat-bubble) !important;
    }

    /* Thinking very top parent */
    ._7d763a7 {



        /* "Thought for X seconds" */
        ._245c867 {

            /* "Thought for X seconds" bg */
            &::after,
            &::before {
                border-radius: 50vw !important;
                background-color: var(--c-bg-msg-gpt) !important;
                backdrop-filter: blur(2rem) !important;
            }

            &::before {
                background-color: transparent !important;
            }

            & .c99b79f8 {
                // background: var(--dsw-linear-gradient-think);
                background: none !important;
            }
        }
    }

    /* Thinking text parent (with "Thought for X seconds" note) */
    ._48edb25 {

        /* Thinking process texts */
        .e1675d8b {
            --thinking-p-left: 13px; // this is from ds deafult
            display: var(--displayThinkingProcess) !important;

            &:not(:empty) {
                @extend .fadeIn;
            }

            color: var(--c-subtext-2) !important;
            line-height: calc((var(--lineHeight) / 16) * 0.5) !important;
            transition: font-size 0.15s ease-in-out,
            line-height 0.15s ease-in-out;

            /* Thinking border on the left */
            ._9ecc93a {
                border-color: currentColor !important;
                opacity: 0.6;
            }
        }
    }

    /* SOURCES - "X Web Pages"  */
    ._972436e {
        background-color: hsla(var(--accent-hsl) / 0.12) !important;
    }

}

/* "New chat" floating btn. Not working when scoped into chats main layout... */
._217e214 {
    @include bg-accent;

    &:hover {
        @include bg-accent-inverse;
    }
}

/* Footer: "AI-generated, for reference only" */
._0fcaa63 {
    color: var(--c-subtext-1) !important;
}


/* ============ CUSTOM WIDTH ============  */
/* Very top chats parent which has strange padding */
._8f60047 ._0f72b0b {
    // padding: 0 calc((100% - var(--message-list-max-width)) / 2);
    padding: 0 5vw !important;
}

/* Chats list parent */
.dad65929 {
    // --message-list-max-width: 800px;
    // --message-list-max-width: var(--maxWidthChats) !important;
    margin: 0 auto !important;
    max-width: var(--maxWidthChats) !important;
    width: var(--maxWidthChats) !important;
}

/* Chatbox parent */
.aaff8b8f {
    --message-list-max-width: var(--maxWidthTextarea) !important;
    max-width: var(--maxWidthTextarea);
}

/* ============ CUSTOM FONTS ============  */

/* 
    .fbb737a4 - user chat bubble
    ._4f9bf79 - gpt chat bubble
    .ds-markdown - markdown
    ._77cefa5 - chatbox
*/
.fbb737a4,
._4f9bf79,
._77cefa5,
.ds-markdown {
    font-family: var(--fontFamily), var(--fontFamilyDefault) !important;
    font-size: calc((var(--fontSize) / 16) * 1rem) !important;
    line-height: calc(var(--lineHeight) / 16) !important;
}