/* Button "New chat" in sidebar: parent */
._5a8ac7a {
    --local-button: var(--dsr-main) !important;
    --local-button-hover: var(--c-accent-hover) !important;
    --local-button-text: var(--c-on-accent) !important;

    margin: 0 auto !important;
    width: 80% !important;
    height: fit-content !important;
    transition: transform ease 0.15s;

    /* Button "New chat" */
    .c7dddcde {
        width: 100% !important;
        justify-content: center;
        padding: calc(var(--p-btn) * 1.1) !important;
        text-transform: uppercase;
    }

    &:hover {
        --local-button-text: var(--c-accent) !important;
        transform: translateY(0.08rem);
    }
}

/* Sidebar */
.dc04ec1d {

    /* Sidebar icon for collapsing sidebar for 'sm' size screens */
    .a9564e8a {
        color: var(--c-accent) !important;
    }


    /* deepseek icon log only (when sidebar is collapsed) */
    .a7f3a288 {
        .ds-icon {
            color: var(--c-accent) !important;
        }
    }

    /* "deepseek" text logo in sidebar */
    .e066abb8 svg {
        color: var(--c-accent) !important;
        opacity: 0.9;
        text-shadow: 0 0 5px var(--c-accent) !important;
    }

    /* Sidebar date pill: "yesterday, today, 7 days" etc */
    ._48cdfc1 {
        @extend %date-pill;
    }

    /* Sidebar chat-item link */
    ._83421f9 {
        transition: $trans;

        /* Active link item */
        &.b64fb9ae {
            --dsr-local-active-bg: var(--c-surface-2) !important;
            box-shadow: 0 0 1px 2px hsla(var(--accent-hsl) / 0.1) inset !important;
        }

        &:not(&.b64fb9ae):hover {
            background-color: var(--c-surface-2) !important;
            transform: translateY(-0.08rem);
        }

        /* Overlay fade where 3dots are */
        .eaaaba55 {
            background: linear-gradient(90deg, transparent 0%, var(--dsr-side-bg) 60%) !important;
        }

        /* Overlay fade where 3dots are */
        &:not(&.b64fb9ae):hover,
        &.b64fb9ae {
            .eaaaba55 {
                --dsr-side-bg: var(--c-surface-2) !important;
            }
        }
    }

    /* "Get App" link in sidebar */
    .a1e75851 {
        border-color: var(--c-border) !important;

    }

    /* Bg when hovered mobile icon in sidebar */
    .b91228e4:hover {
        background-color: var(--c-accent-hover) !important;
    }
}