:root {
    --message-list-padding-horizontal: 16px;
    --message-list-max-width: 800px;

    --c-bg-textarea: linear-gradient(145deg, hsla(var(--accent-hsl) / 0.2) 0%, hsla(var(--accent-hsl) / 0.1) 22%, hsla(var(--accent-hsl) / 0.1) 68%, hsla(var(--accent-hsl) / 0.2) 100%);

    // --dsr-local-active-bg: var(--c-surface-2) !important;

    /* chats wrapper - spacing X */
    @include dev('xs') {
        --message-list-padding-horizontal: 0.5rem !important;
    }
}

body {
    // --ds-toast-custom-font-size: 16px;
    font-size: var(--ds-font-size-m);
    line-height: var(--ds-line-height-m);
    color: var(--c-txt) !important;

    --c-bg-gradient: linear-gradient(135deg,
            hsla(var(--accent-hsl) / 0.45) 0%,
            hsla(var(--accent-hsl) / 0.1) 40%,
            hsla(var(--accent-hsl) / 0.05) 60%,
            hsla(var(--accent-hsl) / 0.45) 100%);

    --c-bg-chats-sticky: linear-gradient(to bottom, hsla(var(--accent-h) var(--surface-s) calc(var(--surface-l) * 1.025) / 1), transparent);
}

body,
page {
    // font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Open Sans, sans-serif;
    // font-family: var(--font_family), var(--font_family_default) !important;
    font-family: var(--fontFamily), var(--fontFamilyDefault) !important;
    transition: font-family 0.15s ease-in-out;
}

/* LIGHT */
body {
    --dsr-main: var(--c-accent) !important; // accent
    // --dsr-main-2: rgba(77, 107, 254, .4);
    --dsr-main-2: var(--c-surface-1) !important;
    --dsr-main-3: var(--c-surface-2) !important;
    --dsr-bg: var(--c-bg-chats-container) !important;
    --dsr-text-0: var(--c-txt) !important;
    --dsr-text-1: var(--c-txt) !important;
    --dsr-text-2: var(--c-subtext-2) !important;
    --dsr-text-3: var(--c-subtext-1) !important; // "Allow your content to be used to train our models and improve our services. We secure your data privacy." in settings>profile>Improve the model for everyone
    --dsr-text-4: var(--c-accent) !important;
    --dsr-border-1: var(--c-border) !important;
    --dsr-border-2: var(--c-border) !important;
    --dsr-input-border: var(--c-bg-textarea) !important; // textarea-prompt border
    --dsr-input-bg: var(--c-bg-textarea) !important; // textarea-prompt bg
    --dsr-button-main-bg: var(--dsr-main);
    --dsr-button-main-bg-hover: var(--c-accent-hover) !important;
    --dsr-button-second-bg: var(--dsr-main-3);
    --dsr-button-grey-0: var(--c-accent-light) !important;
    --dsr-button-grey-1: hsla(var(--accent-hsl) / 0.15) !important;
    --dsr-button-grey-2: var(--c-subtext-2) !important;
    --dsr-delete-button-bg: var(--c-danger) !important;
    --dsr-delete-button-bg-hover: hsla(var(--danger-hsl) / 0.15) !important;
    --dsr-tooltip-fg: var(--c-on-accent) !important;
    --dsr-tooltip-bg: var(--c-accent) !important;
    --dsr-side-bg: var(--c-bg-sidebar) !important;
    // --dsr-side-hover-bg-rgb: 239, 246, 255;
    --dsr-side-hover-bg: hsla(var(--c-accent-hsl) / 0.15) !important;
    --dsr-icon-fg-1: rgb(var(--ds-rgb-neutral-650));
    --dsr-icon-hover-0: rgb(var(--ds-rgb-neutral-150));
    --dsr-icon-hover-1: var(--c-accent-hover) !important;
    --dsr-side-icon-hover: var(--c-accent-hover) !important;
    --dsr-error-fg: var(--c-danger) !important;
    --dsr-local-active-bg: var(--c-surface-2) !important;


    // ==================================================
    // ===================== NEW UI =====================
    // ==================================================
    --dsw-alias-bg-base: var(--c-bg-chats-container) !important;
    --dsw-alias-bg-layer-1: var(--surface-1) !important;
    --dsw-alias-bg-layer-2: var(--surface-2) !important;
    --dsw-alias-bg-layer-3: var(--surface-3) !important;
    --dsw-alias-bg-mask-1: hsla(var(--accent-hsl) / 0.24) !important;
    --dsw-alias-bg-mask-2: hsla(var(--accent-hsl) / 0.12) !important;
    --dsw-alias-bg-multi-select: hsla(var(--accent-hsl) / 0.15) !important;
    --dsw-alias-bg-skeleton: hsla(var(--accent-hsl) / 0.04) !important;
    --dsw-alias-border-l1: hsla(var(--accent-hsl) / 0.04) !important;
    --dsw-alias-border-l2-darkmode-thin: hsla(var(--accent-hsl) / 0.08) !important;
    --dsw-alias-border-l2: hsla(var(--accent-hsl) / 0.1) !important;
    --dsw-alias-border-l3: hsla(var(--accent-hsl) / 0.12) !important;
    --dsw-alias-border-l4: hsla(var(--accent-hsl) / 0.15) !important;
    --dsw-alias-brand-primary-invert: var(--c-on-accent) !important;
    --dsw-alias-brand-primary: var(--c-accent) !important;
    --dsw-alias-brand-text: var(--c-accent) !important;
    --dsw-alias-button-contrast-fill: var(--c-accent) !important;
    --dsw-alias-button-elevated-fill: hsla(var(--accent-hsl) / 0.15) !important;
    --dsw-alias-button-floating-fill: var(--surface-2) !important;
    --dsw-alias-button-floating-hover: var(--c-accent-hover) !important;
    --dsw-alias-button-ghost-active-border: hsla(var(--accent-hsl) / 0.2) !important;
    --dsw-alias-button-ghost-active-fill: hsla(var(--accent-hsl) / 0.2) !important;
    --dsw-alias-button-ghost-active-hover: hsla(var(--accent-hsl) / 0.15) !important;
    --dsw-alias-button-primary-fill: var(--dsw-alias-brand-primary);
    --dsw-alias-button-primary-hover: var(--c-accent-hover) !important;
    // --dsw-alias-interactive-bg-hover-accent: rgba(38, 49, 72, .14);
    // --dsw-alias-interactive-bg-hover-danger: rgba(236, 19, 19, .05);
    // --dsw-alias-interactive-bg-hover: var(--c-accent-hover) !important;
    --dsw-alias-interactive-bg-hover: hsla(var(--accent-hsl) / 0.1) !important;
    --dsw-alias-label-caption: var(--c-subtext-2) !important;
    // --dsw-alias-label-dimmed: var(--dsw-static-neutral-bluish-200);
    // --dsw-alias-label-primary-dimmed: var(--dsw-static-neutral-bluish-950);
    --dsw-alias-label-primary-inverted: var(--c-on-accent) !important;
    --dsw-alias-label-primary: var(--c-txt) !important; // markdown <p> txt too
    --dsw-alias-label-secondary: var(--c-subtext-2) !important;
    --dsw-alias-label-tertiary: var(--c-subtext-1) !important;
    --dsw-alias-markdown-citation: var(--c-accent-hover) !important;
    // --dsw-alias-markdown-code-block-banner: var(--dsw-static-neutral-bluish-50);
    // --dsw-alias-markdown-code-block: var(--dsw-static-neutral-bluish-50);
    // --dsw-alias-markdown-code-segment-selected: var(--dsw-static-neutral-bluish-00);
    // --dsw-alias-markdown-code-segment-unselected: var(--dsw-static-neutral-bluish-75);
    // --dsw-alias-markdown-inline-code: var(--dsw-static-neutral-bluish-100);
    // --dsw-alias-markdown-tag: var(--dsw-static-neutral-bluish-75);
    --dsw-alias-scrollbar-bg: hsla(var(--accent-hsl) / 0.15) !important;
    --dsw-alias-scrollbar-hover: hsla(var(--accent-hsl) / 0.2) !important;
    // --dsw-alias-state-error-primary: var(--dsw-static-red-600);
    // --dsw-alias-state-error-secondary: var(--dsw-static-red-400);
    // --dsw-alias-state-success-primary: var(--dsw-static-green-500);
    // --dsw-alias-state-success-secondary: var(--dsw-static-green-400);
    // --dsw-alias-state-warn-label: var(--dsw-static-amber-600);
    // --dsw-alias-state-warn-primary: var(--dsw-static-amber-500);
    // --dsw-alias-state-warn-secondary: var(--dsw-static-amber-400);
    // --dsw-alias-state-warn-tertiary: var(--dsw-static-amber-100);
    // --dsw-alias-toast-bg: var(--dsw-static-neutral-bluish-800);
    // --dsw-alias-tooltip-bg: var(--dsw-static-neutral-bluish-850);
    // --dsw-specific-bubble: var(--dsw-static-deepseek-50);
    // --dsw-specific-input-major: var(--dsw-static-neutral-bluish-00);
    // --dsw-specific-menu: var(--dsw-alias-bg-layer-3);
    --dsw-specific-selector: hsla(var(--accent-hsl) / 0.1) !important;

    --dsw-specific-sidebar-fill: var(--c-bg-sidebar) !important;
    --dsw-specific-sidebar-nav-item-active-accent: hsla(var(--c-accent-hsl) / 0.2) !important;
    --dsw-specific-sidebar-nav-item-active: var(--c-surface-2) !important;
    --dsw-specific-sidebar-nav-item-hover: var(--c-surface-2) !important;


    // --dsw-specific-tip: var(--dsw-static-neutral-150);
}

/* DARK */
body[data-ds-dark-theme] {
    --dsr-bg: var(--c-bg-chats-container) !important; // chats wrapper bg
    --dsr-text-0: var(--c-txt) !important;
    --dsr-text-1: var(--c-txt) !important;
    --dsr-text-2: var(--c-subtext-1) !important;
    --dsr-text-3: var(--c-subtext-1) !important;
    --dsr-text-4: var(--c-accent) !important;
    --dsr-border-1: var(--c-border) !important;
    --dsr-border-2: var(--c-border-accent) !important;
    --dsr-input-border: hsla(var(--accent-hsl) / 0.08) !important; // textarea-prompt border
    --dsr-input-bg: var(--c-bg-textarea) !important; // textarea-prompt bg
    --dsr-button-main-bg: var(--c-accent) !important;
    --dsr-button-main-bg-hover: var(--c-accent-hover) !important;
    --dsr-button-second-bg: var(--dsr-main-2);
    --dsr-button-grey-0: var(--c-subtext-1) !important;
    --dsr-button-grey-1: hsla(var(--accent-hsl) / 0.15) !important;
    --dsr-button-grey-2: var(--c-subtext-2) !important;
    --dsr-delete-button-bg: var(--c-danger) !important;
    --dsr-delete-button-bg-hover: hsla(var(--danger-hsl) / 0.15) !important;
    --dsr-tooltip-fg: var(--c-on-accent) !important;
    --dsr-tooltip-bg: var(--c-accent) !important;
    --dsr-side-bg: var(--c-bg-sidebar) !important; // sidebar
    // --dsr-side-hover-bg-rgb: 51, 51, 51;
    --dsr-side-hover-bg: hsla(var(--c-accent-hsl) / 0.15) !important;
    --dsr-icon-fg-1: rgb(var(--ds-rgb-neutral-350));
    // --dsr-icon-fg-1: red !important;
    // --dsr-icon-hover-0: rgb(var(--ds-rgb-neutral-500));
    --dsr-icon-hover-0: red !important;
    // --dsr-icon-hover-1: rgb(var(--ds-rgb-neutral-700));
    --dsr-icon-hover-1: var(--c-accent-hover) !important; // icon sidebar on hover on medium screens
    --dsr-side-icon-hover: var(--c-accent-hover) !important;
    --dsr-error-fg: var(--c-danger) !important;
    // --dsr-local-active-bg: var(--c-surface-2) !important;
}

body,
page,
.ds-theme {
    --ds-input-height-l: 42px;
    --ds-input-height-m: 34px;
    --ds-input-height-s: 30px;
    --ds-input-height-xs: 26px;
    --ds-font-weight-strong: 600;
    --ds-font-size-l: 16px;
    --ds-line-height-l: 28px;
    --ds-font-size-m: 14px;
    --ds-line-height-m: 25px;
    --ds-font-size-sp: 13px;
    --ds-line-height-sp: 23px;
    --ds-font-size-s: 12px;
    --ds-line-height-s: 21px;
    --ds-font-size-xsp: 11px;
    --ds-line-height-xsp: 19.5px;
    --ds-font-size-xs: 10px;
    --ds-line-height-xs: 18px;
    --ds-ease-in-out: cubic-bezier(.4, 0, .2, 1);
    --ds-ease-in: cubic-bezier(.4, 0, 1, 1);
    --ds-ease-out: cubic-bezier(0, 0, .2, 1);
    --ds-font-family-code: Menlo, "Roboto Mono", "Courier New", Courier, monospace, "Inter", sans-serif;
    --ds-transition-duration: .2s;
    --ds-transition-duration-fast: .1s;
    --ds-transition-duration-slow: .3s;
}