// :root {}

body.light {
    /* ? ========== HSL ========== */
    /* --accent-hsl: 250 99% 65%; */
    /* --accent-hsl: 352 34% 37%; */
    // --cl: #7e3e47;
    --accent-h: 335;
    --accent-s: 21%;
    --accent-l: 35%;
    --accent-hsl: var(--accent-h) var(--accent-s) var(--accent-l);

    /* --txt-hsl: 0 0% 0%; */
    --txt-h: 0;
    --txt-s: 0%;
    --txt-l: 0%;
    --txt-hsl: var(--txt-h) var(--txt-s) var(--txt-l);

    --surface-h: var(--accent-h); // Inherit accent hue
    --surface-s: 10%; // Drastically reduced saturation (near-gray)
    --surface-l: 91%; // Base lightness
    --surface-hsl: hsl(var(--surface-h) var(--surface-s) var(--surface-l));

    /* --danger-hsl: 346 51% 45% */
    --danger-hsl: 354 63% 48%;
    --warning-hsl: 27 88% 44%;
    --c-danger: hsl(var(--danger-hsl));
    --c-warning: hsl(var(--warning-hsl));

    /* ? ========== COLORS ========== */
    --c-accent: hsl(var(--accent-hsl));
    --c-accent-light: hsl(var(--accent-h), calc(var(--accent-s) * 0.3), 75%);
    --c-accent-hover: hsl(var(--accent-h), calc(var(--accent-s) * 0.3), 75%);

    --c-on-accent: hsl(var(--accent-h), var(--accent-s), 88%);

    /* ? ========== Surface colors ========== */
    --c-surface-1: var(--surface-hsl);
    // --c-surface-2: hsl(var(--surface-h) var(--surface-s) calc(var(--surface-l) * 0.945));
    // --c-surface-3: hsl(var(--surface-h) var(--surface-s) calc(var(--surface-l) * 0.905));
    --c-surface-2: hsl(var(--surface-h) var(--surface-s) calc(var(--surface-l) * 0.95));
    --c-surface-3: hsl(var(--surface-h) var(--surface-s) calc(var(--surface-l) * 0.91));

    /* ? ========== Text colors ========== */
    --c-txt: hsl(var(--txt-hsl));
    // --c-subtext-1: hsl(var(--accent-h), 0%, 20%);
    // --c-subtext-2: hsl(var(--accent-h), 0%, 40%);
    --c-subtext-1: hsl(var(--accent-h), 0%, 20%);
    --c-subtext-2: hsl(var(--accent-h), var(--accent-s), 30%);

    /* ? ========== Layout colors ========== */
    --c-bg-sidebar: var(--c-surface-1);
    --c-bg-chats-container: hsl(var(--surface-h) var(--surface-s) calc(var(--surface-l) * 1.02));

    /* ? ========== Chat bubbles colors ========== */
    --c-bg-msg-user: hsla(var(--accent-hsl) / 0.08);
    --c-bg-msg-gpt: hsl(var(--surface-h), calc(var(--surface-s) * 1), calc(var(--surface-l) * 0.97));

    /* ? ========== Type message textarea colors ========== */
    // --c-bg-textarea: hsla(0, 0%, calc(var(--surface-l) / 1.05));
    --c-bg-textarea: linear-gradient(145deg, hsla(var(--accent-hsl) / 0.2) 0%, hsla(var(--accent-hsl) / 0.1) 22%, hsla(var(--accent-hsl) / 0.1) 68%, hsla(var(--accent-hsl) / 0.2) 100%);

    /* ? ========== modal, dialog, contextmenu bg ========== */
    --c-bg-modal: hsla(var(--txt-hsl) / 0.3);
    --c-bg-dialog: var(--c-surface-2);
    --c-bg-contextmenu: var(--c-surface-3);
    --c-bg-contextmenu-item: var(--c-surface-2);
    --bx-dialog: 0 0 3rem 0.5rem hsla(var(--txt-hsl) / 0.1), 0 0 0.2rem 0.1rem hsla(var(--txt-hsl) / 0.05);

    /* ? ========== Tooltip bg ========== */
    --c-bg-tooltip: var(--c-accent-light);

    /* ? ========== border colors ========== */
    --c-border: hsla(var(--txt-hsl) / 0.08);
    --c-border-accent: hsla(var(--accent-hsl) / 0.1);

    /* ? ========== <pre>/markdown things colors ========== */
    --c-markdown-a: var(--c-accent);
    // --c-bg-pre: var(--c-surface-2);
    // --c-bg-pre: hsla(var(--accent-hsl) / 0.01);
    --c-bg-pre: hsla(var(--accent-h) var(--surface-s) var(--surface-l) / 0.8);

    /* ? ========== Scrollbar colors =======s=== */
    --c-scrollbar-thumb: var(--c-surface-3);
    --c-scrollbar-track: transparent;

    /* ? ========== border colors ========== */
    --c-border: hsla(var(--txt-hsl) / 0.08);
    --c-border-accent: hsla(var(--accent-hsl) / 0.1);
}