button {
	border: none;
	outline: none;
}

// .ds-button {
// 	--ds-button-color: rgba(77, 107, 254, 0.40);
// 	--button-text-color: #4CAEFF;
// 	--button-border-color: rgba(0, 122, 255, 0.15);
// 	--ds-button-hover-color: rgba(77, 107, 254, 0.2);
// }
%btn-default {
	--button-icon-color: currentColor !important;
	background-color: var(--ds-button-color) !important;
	color: var(--button-text-color) !important;
	border-radius: var(--br-btn) !important;
	padding: var(--p-btn) !important;

	svg {
		color: currentColor !important;
	}
}

.ds-button {
	--c-button-hover-text-color: inherit;
	// --button-icon-color: currentColor !important;
	// background-color: var(--ds-button-color) !important;
	// color: var(--button-text-color) !important;

	&:hover {
		background-color: var(--ds-button-hover-color) !important;
		color: var(--c-button-hover-text-color) !important;
	}

	// svg {
	// 	color: currentColor !important;
	// }

	&--primary:not(.ds-button--square) {
		@extend %btn-default;
		--ds-button-color: var(--c-accent) !important;
		--button-text-color: var(--c-on-accent) !important;
		--ds-button-hover-color: var(--c-accent-hover) !important;
		--c-button-hover-text-color: var(--c-on-accent) !important;
		// background-color: var(--c-accent) !important;
		// color: var(--c-on-accent) !important;
	}

	&--secondary {
		@extend %btn-default;
		--ds-button-color: var(--c-accent-hover) !important;
		--button-text-color: var(--c-accent) !important;
		--ds-button-hover-color: var(--c-accent) !important;
		--c-button-hover-text-color: var(--c-on-accent) !important;
		// background-color: hsla(var(--accent-hsl) / 0.15) !important;
		// color: var(--c-accent) !important;
	}

	&--error {
		@extend %btn-default;
		// --button-icon-color: var(--c-danger);
		--button-text-color: var(--c-on-accent) !important;
		--ds-button-color: var(--c-danger) !important;
		--ds-button-hover-color: hsla(var(--danger-hsl) / 0.15) !important;
		--c-button-hover-text-color: var(--c-danger) !important;
	}

	&--borderless {
		--ds-button-hover-color: var(--c-accent-hover) !important;
	}

	&--xs {}

	&--square {}

}