button {
	border: none;
	outline: none;
}

.btn {
	color: var(--c-on-accent) !important;
	border-radius: var(--br-btn) !important;
	border: none !important;

	svg {
		color: currentColor !important;
	}

	&-primary {
		background-color: var(--c-accent) !important;
		color: var(--c-on-accent) !important;
	}

	&-secondary {
		background-color: hsla(var(--accent-hsl) / 0.15) !important;
		color: var(--c-accent) !important;
		backdrop-filter: blur(5px);

		svg {
			fill: currentColor !important;
		}
	}

	&-ghost {
		background-color: none !important;
		color: var(--c-txt) !important;
		backdrop-filter: blur(1rem);

		&:hover {
			background-color: hsla(var(--accent-hsl) / 0.08) !important;
			color: var(--c-accent) !important;
		}
	}

	&-danger {
		background-color: var(--c-danger) !important;
		color: var(--c-bg-chats-container) !important;
	}

	&-green {
		background-color: var(--c-accent) !important;
	}

	&:not(&-secondary, &-danger, &-green, &-ghost) {
		background-color: var(--c-accent) !important;

		&:hover {
			color: var(--c-on-accent) !important;
		}
	}
}