/* svg wrapper icons like in sidebar etc. */
.ds-icon-button {
    // --ds-icon-button-text-color: var(--c-subtext-1) !important;
    --ds-icon-button-text-color: var(--c-accent) !important;
    --ds-icon-button-hover-color: var(--c-accent-hover) !important;
    --ds-icon-button-outline-color: var(--c-accent-hover) !important;
    // --ds-icon-button-size: 28px;
    // --ds-icon-button-background-inset: -4px;
    color: var(--ds-icon-button-text-color) !important;

    // &:hover {

    //     &::before {
    //         --dsr-side-icon-hover: var(--c-accent-hover) !important;
    //         // background-color: var(--c-accent-hover) !important;
    //     }
    // }

    &:hover {
        &::before {
            background-color: var(--ds-icon-button-hover-color) !important;
        }
    }
}

/* Shark logo in sidebar */
// .ds-icon {
//     svg path:not([fill="none"], [stroke]) {
//         fill: var(--c-accent) !important;
//     }
// }
/* TODO: fix this because there are many different icons!!! */
/* .b3a5d6c1 is the icons of attached files */
// .ds-icon:not(.b3a5d6c1) {
// svg path:not([fill="none"], [stroke]) {
//     fill: var(--c-accent) !important;
// }
// }
.ds-icon {
    // color: currentColor !important;

    svg path:not([fill="none"], [stroke]) {
        fill: currentColor !important;
    }
}

/* .ds-loading - loading spinner */
.e7920f9e {
    color: var(--c-accent) !important;
}

/* All the ds blue svgs that have this color */
[fill="#4D6BFE"] {
    fill: var(--c-accent) !important;
}