// class="ds-dropdown-menu ds-elevated"
[role="menu"] {
    --ds-dropdown-menu-font-size: var(--ds-font-size-m);
    --ds-dropdown-menu-color: var(--c-bg-contextmenu) !important;
    --ds-dropdown-menu-option-text-color: var(--c-txt) !important;
    --ds-dropdown-menu-option-color-hover: var(--c-bg-contextmenu-item) !important;

    // --ds-dropdown-menu-padding: 6px;
    // --ds-dropdown-menu-option-padding: 8px 14px 8px 12px;
    // --ds-dropdown-menu-option-line-height: var(--ds-line-height-m);
    // --ds-dropdown-menu-option-icon-size: 20px;
    // --ds-dropdown-menu-option-icon-color: var(--c-accent) !important;
    // --ds-dropdown-menu-option-icon-margin: 0;
    // --ds-dropdown-menu-option-label-margin: 0 10px;
}