.ds-modal {
    &-wrapper:not(:empty) {
        background-color: var(--c-bg-modal) !important;
        backdrop-filter: blur(2rem) !important;
    }

    /* Modal dialogs ([role="dialog"]) */
    &-content {
        --ds-modal-content-color: var(--c-bg-dialog) !important;
        --ds-modal-content-text-color: var(--c-txt) !important;
        box-shadow: var(--bx-dialog) !important;

        &__header-wrapper {}

        &__title {}
    }

    /* tabs ([role="tablist"]) iliti .ds-segmented */
    .ds-segmented {
        --ds-segmented-color: var(--c-surface-3) !important;
        --ds-segmented-selected-color: var(--c-accent) !important;

        &-button--selected {
            background-color: var(--c-accent) !important;
            color: var(--c-on-accent) !important;
        }

        & ~ .ds-flex {
            border-bottom: none !important;
        }
    }

    .ds-native-select {
        &--filled {
            // @extend .ds-button--secondary;
            --ds-native-select-color: var(--c-accent-hover) important;
            // background-color: transparent !important;
            color: var(--c-accent) !important;
        }

        /* "Language" and "Theme" dropdown in "Settings" */
        &__select {
            background-color: var(--c-accent-hover) !important;

            option {
                background-color: var(--c-surface-3) !important;
            }
        }

        &__arrow {
            color: inherit !important;
        }
    }
}

/* .ds-modal-overlay {
    background-color: var(--c-bg-modal) !important;
    backdrop-filter: blur(2rem);
} */