// ds-tooltip ds-tooltip--m ds-tooltip--show-shadow ds-elevated ds-theme

.ds-tooltip {
    --tooltip-color: var(--c-accent-hover) !important;
    // --tooltip-box-shadow: 0 0 0 2px hsla(var(--accent-hsl) / 0.2) !important;
    --tooltip-text-color: var(--c-txt) !important;
    // --dsr-text-2: var(--c-accent) !important; // ovo je text za tooltip kada hoverujemo app icon u sidebar

    /* e.g. tooltip for attach btn in prompt field */
    span.efd78c4e {
        /* "Upload docs or images (Max 50, 100MB each)"  */
        color: var(--c-txt) !important;

        /* "Text extraction only."  */
        span[role="title"] {
            color: var(--c-accent) !important;
        }
    }

    /* Search tooltip */
    &:has(.search-view-card__title) {
        --tooltip-color: transparent !important;

        .de80ba65 {
            transition: box-shadow 0.2s $easeInCubic, scale 0.2s $easeInCubic;

            &:hover {
                box-shadow: 0 4px 16px hsla(var(--accent-hsl) / 0.22) inset !important;
                scale: 1.03 !important;
            }
        }
    }
}

/* Search card in tooltips */
.de80ba65 {
    background: var(--c-accent-hover) !important;
    border-color: hsla(var(--accent-hsl) / 0.1) !important;
    box-shadow: 0 4px 16px hsla(var(--accent-hsl) / 0.12) !important;
}