html[dsx-toggle-thinking-process] {
    .ds-think-content {
        display: none !important;
    }
}

html[dsx-toggle-accent-user-bubble] {
    .fbb737a4 {
        @include bg-accent;

        &::selection {
            @include bg-accent-inverse;
        }
    }
}

html[dsx-toggle-user-bubble-full-width] {
    .fbb737a4 {
        width: 100% !important;
        max-width: 100% !important;
    }

    /* User chat bubble in edit state */
    ._9663006._3111eee .ds-textarea {
        // width: 100% !important;
        max-width: 100% !important;
    }
}

html[dsx-toggle-ai-bubble] {
    ._4f9bf79>.ds-message {
        --p-chat-bubble: 0 !important;
        background: transparent !important;
    }
}

html[dsx-toggle-header-height] {
    --h-header: 2.25rem !important;
    --scale-header: 0.7 !important;
    --roller-top-offset: 1.625rem !important;

    // ._7780f2e {}

    /* Share btn */
    @include dev('md') {
        ._57370c5 {
            margin-top: 0 !important;
        }
    }

    /* Sticky header */
    ._2be88ba {
        height: var(--h-header) !important;
        // display: none;

        /* Sticky header: chat title */
        .afa34042 {
            scale: var(--scale-header);
            background-color: transparent !important;
        }
    }

    /* 
    .f8d1e4c0 - Topbar chat title parent with margin-top
    ._5a20a69 - DS logo and Collapsed sidebar and new chat icon wrapper */
    .f8d1e4c0,
    ._5a20a69 {
        transform-origin: center center;
        margin-top: 0 !important;
        transform: translateY(calc(var(--h-header) * -50%)) !important;
    }

    /* DS logo and Collapsed sidebar and new chat icon wrapper */
    ._5a20a69 {
        scale: var(--scale-header);

        /* Collapsed sidebar and new chat icon wrapper Icons wrapper */
        // .e5bf614e {
        //     backdrop-filter: blur(2rem);
        // }
    }

    @include dev('md') {
        --scale-header: 0.8 !important;

        ._0efe408 {
            padding-block: 0 !important;

            &>* {
                // scale: var(--scale-header);
                transform-origin: center center;
                transform: translateY(calc(var(--h-header) * -50%)) !important;
            }
        }
    }
}